<h3 class="my-5 text-center">
    @ViewBag.CheckoutCompleteMessage
</h3>
<div class="text-center" style="padding-top: 200px">
    <div>
        <img src="Images/bag.png" class="center" style="background-color: #f6f4ef; width: 100px; height: auto" />
    </div>
    <div style="padding-top: 50px">
        <h1>Thank You!</h1>
        <h5>A confirmation has been sent to your email.</h5>
    </div>
    <partial name="_Social" />
</div>